.form{
   
    padding: 40px;
    background-color: hsl(209, 100%, 50%);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    margin: 10px auto;
}
.text{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    color: #3d0f2b;
}
.err-msg{
    color: red;
}